body, html {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   background: url('images/Black\ &\ Yellow\ Modern\ Exclusive\ Furniture\ Poster.png') no-repeat center center fixed;
   background-size: cover;
   background-color: #070b20;
}

@media (max-width: 768px) {
   body {
      background-image: url('images/renty1.png'); /* Mobile-specific image */
      background-size: cover; /* Ensures the image still covers the screen */
      background-position: center; /* Centers the image */
      background-attachment: scroll; /* Disables the fixed attachment for better mobile performance */
   }
}

/* You can also add further adjustments for tablets if needed */
@media (max-width: 1024px) {
   body {
      background-image: url('images/renty1.png'); /* Tablet-specific image */
   }
}
/* Navbar styles */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #94e1ff;
   padding: 10px 20px;
}

.logo {
   color: rgb(0, 0, 0);
   font-size: 1.5rem;
   font-weight: bold;
}

.nav-links {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}

.nav-links li {
   margin: 0 15px;
}

.nav-links a {
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: 1rem;
   transition: color 0.3s;
}

.nav-links a:hover {
   color: #000000;
}

/* Burger menu styles */
.burger {
   display: none;
   flex-direction: column;
   cursor: pointer;
}

.burger div {
   width: 30px;
   height: 3px;
   background-color: white;
   margin: 3px 0;
   border-radius: 5px;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
   .nav-links {
       display: none;
       flex-direction: column;
       background-color: #ffffff;
       position: absolute;
       top: 60px;
       right: 0;
       width: 100%;
       height: 50%;
       text-align: center;
       margin-right: 15px;
      

   }
   ul {
      margin-bottom: 20px; /* Adds space after lists */
  }
  
  li {
      margin-bottom: 10px; /* Adds space between list items */
  }

   .nav-links.active {
       display: flex;
   }

   .burger {
       display: flex;
   }
}
